@import url(aws-dev-content.css);
@import url(http://developer.amazonwebservices.com/connect/css/aws-dev-content.css);
/* [if !IE]> */
@import url(aws-docs.css);
/* <![endif] */

}

/*--------------*/
/*   Anchors    */
/*--------------*/


/* Remove borders from linked images */
 a  { text-decoration: none; padding: 3px }
/* ------- end anchors -------*/


/*---------------------------------------------------------------------------------*/
/* Admonition styles             See also admonition table styles at end of sheet  */
/*---------------------------------------------------------------------------------*/

div.caution{
	padding: 0.5em;
}

div.important{
	padding: 0.5em;
}

div.note{
	padding: 0.5em;
}

div.tip{
	padding: 0.5em;
}
/*-------  end admonitions   -------*/

/*------------------*/
/*   Breadcrumbs    */
/*------------------*/

div.breadcrumb {                      /* new 11/24/08 */
                color: #8f8fbd;         
                font-size: 9px;
}

div.breadcrumb a{                     /* new 11/24/08 */                        
                font-size: 11px;
}

/*-------  end breadcrumbs   -------*/


.email {
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: italic;
}

.formpara{                                                                                      /* 5/1/08   Formal paragraph titles   */
 font-family: arial narrow;
 font-weight: bold;
 font-size: 12px;
}


.guilabel {    /* Don't change this one back to italics! */
	font-weight: bold;
}

img {
border-style: hidden;
border-width :0px 0px 0px 0px;
border-color : #ffffff;
}

#language-filter {
    float: right;
}

.navheader table td, .navheader table th, .navfooter table td, .navfooter table th {
    border: 0px;
    background-color: #eeeeee;
    color: #000000;
}

.navfooter table, .navheader table {
    border: 0px;
	border-spacing: 0px;
}

.page-header {
	height:30px;
	z-index:1;
	overflow:hidden;
	text-align:right;
	padding-right: 10px;
}

.programlisting{
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000066;
	padding: 10px 3px 20px 5px;                       /* changed top and bottom padding from 5px to 10px to deal with IE scrolling problem */
	background-color: #eff7ff;
	border: 1px dashed #333;
	width: 99%;
}

.question{
	font-weight: bold;
}

.remark {
	color: #FF0000;
   
}

.replaceable {
	color: #FF0000;
}

.segmentedlist{
	padding-bottom: 15px;
}

.seg p{
	margin-bottom: 0em;
}

.simpara{
  margin-top: -.05em;                                                                               /*  -.05em changed from -.1 to accommodate IE 2/5/08 */
}


/*-------------------------------*/
/*         Tables                */
/*-------------------------------*/

td p:first-child {
  margin-top: 0px;                                                               
}

td p:last-child {
  margin-bottom: 0px;
}

td ul:first-child {
  margin-top: 0px;                                                                               /*  new 8/22/07 */
}

td ol:first-child {
  margin-top: 0px;                                                                               /*  new 8/22/07 */
}

/* Formal Table Settings */

div.table-contents{
	padding: 0.5em;
}

.table-contents table{
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.table-contents td{
  font-size: 12px;
  padding: 5px 5px 5px 5px; 
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 0px;
  border-top: 0px;
  vertical-align:top;
}

.table-contents th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 0px;
  border-top: 0px;
  vertical-align:top;
  background-color: #eeeeee;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

/* informal tables  */

div.informaltable{
	padding: 0.5em;
}

.informaltable table{
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.informaltable td{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 0px;
  border-top: 0px;
  vertical-align:top;
}

.informaltable th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 0px;
  border-top: 0px;
  vertical-align:top;
  background-color: #eeeeee;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

/* Borderless tables                                                        new 12/31/07  */

.simplesect table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.simplesect td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

/*------- End tables -------*/



.topcom{                                                                                                       /* New 2/5/08    */
   font-weight: bold;
}

.topictitle {
	padding-bottom: 5px;
	border-bottom: none;
	border-top: 1px solid rgb(204, 204, 204);
}

.userinput {
	color: #040;
	font-weight: normal;
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*  Admonition Tables                                                          new 9/19/07                                  */
/*   ATTENTION!      These must be placed last in the style sheet so that they can override all preceding table formattings */
/*--------------------------------------------------------------------------------------------------------------------------*/

.caution table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.caution td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

.caution th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.important table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.important td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;  
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

.important th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.note table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.note td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

.note th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.tip table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.tip td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

.tip th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

@import url(aws-docs.css);